@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white; */
}
